<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Some Website</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>
  <body>
    <form action="/weather" method="get">
      <h1>Check the day's weather</h1>
      <div>
        <input type="text" name="address" placeholder="Type an address">
      </div>
      <input class="button" type="submit" value="Check">
      {{#if loader}}
        <div class="loader"></div>
      {{else if weather}}
        <div>
          <h2>{{ weather.address }}:</h2>
          <p>Temperature: {{ weather.temperature}}°C</p>
          <p>Feels like: {{weather.apparentTemperature}}°C</p>
        </div>
      {{else if error}}
        <p class="error">{{error}}</p>
      {{/if}}
    </form> 
  </body>
</html>